In [3]:
#Import libraries
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import json
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [57]:
# Taking data into df

reviews = []
with open('yelp_dataset/yelp_academic_dataset_review.json', 'rb') as f:
    for i, line in enumerate(f):
        reviews.append(json.loads(line))

reviews_df = pd.DataFrame(reviews)

In [58]:

reviews_df.head()

                review_id                 user_id             business_id  stars  useful  funny  cool                                               text                 date
0  xQY8N_XvtGbearJ5X4QryQ  OwjRMXRC0KyPrIlcjaXeFQ  -MhfebM0QIsKt87iDN-FNw    2.0       5      0     0  As someone who has worked with many museums, I...  2015-04-15 05:21:16
1  UmFMZ8PyXZTY2QcwzsfQYA  nIJD_7ZXHq-FX8byPMOkMQ  lbrU8StCq3yDfr-QMnGrmQ    1.0       1      1     0  I am actually horrified this place is still in...  2013-12-07 03:16:52
2  LG2ZaYiOgpr2DK_90pYjNw  V34qejxNsCbcgD8C0HVk-Q  HQl28KMwrEKHqhFrrDqVNQ    5.0       1      0     0  I love Deagan's. I do. I really do. The atmosp...  2015-12-05 03:18:11
3  i6g_oA9Yf9Y31qt0wibXpw  ofKDkJKXSKZXu5xJNGiiBQ  5JxlZaqCnk1MnbgRirs40Q    1.0       0      0     0  Dismal, lukewarm, defrosted-tasting "TexMex" g...  2011-05-27 05:30:52
4  6TdNDKywdbjoTkizeMce8A  UgMW8bLE0QMJDCkQ1Ax5Mg  IS4cv902ykd8wj1TR0N3-A    4.0       0      0     0  Oh happy day, finally have a Canes near my cas...  2017-01-14 21:56:57

In [60]:
print("Reviews :",reviews_df.shape)

Reviews : (8021122, 9)

In [47]:
business = []
with open('yelp_dataset/yelp_academic_dataset_business.json', 'rb') as f:
    for i, line in enumerate(f):
        business.append(json.loads(line))

business_df = pd.DataFrame(business)

In [49]:
business_df.shape

(209393, 14)

In [50]:
restaurants = []
for i in range(business_df.shape[0]):
    
    cats = business_df.iloc[i,]['categories']
    
    if cats:
        if 'Restaurants' in cats.split(","):

            restaurants.append(business_df.iloc[i,])

restaurants_df = pd.DataFrame(restaurants)

In [51]:
restaurants_df.head()

               business_id                             name                           address       city state postal_code   latitude  longitude  stars  review_count  is_open                                         attributes                              categories                                              hours
24  eBEfgOPG7pvFhb2wcG9I7w                  Philthy Phillys  15480 Bayview Avenue, unit D0110     Aurora    ON     L4G 7J1  44.010962 -79.448677    4.5             4        1  {'RestaurantsTableService': 'False', 'Restaura...  Restaurants, Cheesesteaks, Poutineries  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
38  rVBPQdeayMYht4Uv_FOLHg           Gourmet Burger Company                843 Kipling Avenue    Toronto    ON     M8Z 5G9  43.633291 -79.531768    3.0            13        0  {'RestaurantsPriceRange2': '2', 'RestaurantsAt...              Restaurants, Burgers, Food                                               None
41  98hyK2QEUeI8v2y0AghfZA  Pho Lee's Vietnamese Restaurant           1541 E 38th St, Ste 101  Cleveland    OH       44114  41.512155 -81.663332    4.5            23        1  {'BusinessParking': 'None', 'Ambience': '{'tou...           Restaurants, Vietnamese, Soup  {'Monday': '11:0-20:0', 'Wednesday': '11:0-20:...
43  LoRef3ChgZKbxUio-sHgQg                             Amir             5252 Rue Jean Talon O   Montréal    QC     H4P 2A7  45.494870 -73.651904    3.0            18        1  {'RestaurantsAttire': 'u'casual'', 'Restaurant...   Restaurants, Lebanese, Middle Eastern                                               None
49  tLpkSwdtqqoXwU0JAGnApw                          Wendy's              4602 Northfield Road  Cleveland    OH       44128  41.434614 -81.527026    3.5             7        1  {'RestaurantsDelivery': 'False', 'BusinessAcce...         Restaurants, Fast Food, Burgers  {'Monday': '10:0-3:0', 'Tuesday': '10:0-3:0', ...

In [69]:
restaurants_df.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
attributes       object
categories       object
hours            object
dtype: object

In [92]:
restaurants_df.to_pickle('./restaurants_df')
del restaurants_df

In [95]:
reviews_df.dtypes

review_id       object
user_id         object
business_id     object
stars          float64
useful           int64
funny            int64
cool             int64
text            object
date            object
dtype: object

In [79]:
combo_df = reviews_df.merge(restaurants_df,how="left",on="business_id")

In [80]:
combo_df.head()

                review_id                 user_id             business_id  stars_x  useful  funny  cool                                               text                 date                     name                                            address       city state postal_code   latitude   longitude  stars_y  review_count  is_open                                         attributes                                         categories                                              hours
0  xQY8N_XvtGbearJ5X4QryQ  OwjRMXRC0KyPrIlcjaXeFQ  -MhfebM0QIsKt87iDN-FNw      2.0       5      0     0  As someone who has worked with many museums, I...  2015-04-15 05:21:16                      NaN                                                NaN        NaN   NaN         NaN        NaN         NaN      NaN           NaN      NaN                                                NaN                                                NaN                                                NaN
1  UmFMZ8PyXZTY2QcwzsfQYA  nIJD_7ZXHq-FX8byPMOkMQ  lbrU8StCq3yDfr-QMnGrmQ      1.0       1      1     0  I am actually horrified this place is still in...  2013-12-07 03:16:52                      NaN                                                NaN        NaN   NaN         NaN        NaN         NaN      NaN           NaN      NaN                                                NaN                                                NaN                                                NaN
2  LG2ZaYiOgpr2DK_90pYjNw  V34qejxNsCbcgD8C0HVk-Q  HQl28KMwrEKHqhFrrDqVNQ      5.0       1      0     0  I love Deagan's. I do. I really do. The atmosp...  2015-12-05 03:18:11   Deagan's Kitchen & Bar                                  14810 Detroit Ave   Lakewood    OH       44107  41.485192  -81.800145      4.0         417.0      1.0  {'BusinessAcceptsCreditCards': 'True', 'Outdoo...  Restaurants, Gastropubs, Nightlife, American (...  {'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...
3  i6g_oA9Yf9Y31qt0wibXpw  ofKDkJKXSKZXu5xJNGiiBQ  5JxlZaqCnk1MnbgRirs40Q      1.0       0      0     0  Dismal, lukewarm, defrosted-tasting "TexMex" g...  2011-05-27 05:30:52  Cabo Mexican Restaurant  Red Rock Casino Resort & Spa, 11014 W Charlest...  Las Vegas    NV       89135  36.118343 -115.338821      3.5          56.0      0.0  {'RestaurantsAttire': 'u'casual'', 'Restaurant...                               Restaurants, Mexican  {'Monday': '16:0-21:0', 'Tuesday': '16:0-21:0'...
4  6TdNDKywdbjoTkizeMce8A  UgMW8bLE0QMJDCkQ1Ax5Mg  IS4cv902ykd8wj1TR0N3-A      4.0       0      0     0  Oh happy day, finally have a Canes near my cas...  2017-01-14 21:56:57                      NaN                                                NaN        NaN   NaN         NaN        NaN         NaN      NaN           NaN      NaN                                                NaN                                                NaN                                                NaN

In [83]:
restaurant_reviews_df = combo_df.dropna(axis=0)

In [85]:
restaurant_reviews_df.head()

                review_id                 user_id             business_id  stars_x  useful  funny  cool                                               text                 date                     name                                            address        city state postal_code   latitude   longitude  stars_y  review_count  is_open                                         attributes                                         categories                                              hours
2  LG2ZaYiOgpr2DK_90pYjNw  V34qejxNsCbcgD8C0HVk-Q  HQl28KMwrEKHqhFrrDqVNQ      5.0       1      0     0  I love Deagan's. I do. I really do. The atmosp...  2015-12-05 03:18:11   Deagan's Kitchen & Bar                                  14810 Detroit Ave    Lakewood    OH       44107  41.485192  -81.800145      4.0         417.0      1.0  {'BusinessAcceptsCreditCards': 'True', 'Outdoo...  Restaurants, Gastropubs, Nightlife, American (...  {'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...
3  i6g_oA9Yf9Y31qt0wibXpw  ofKDkJKXSKZXu5xJNGiiBQ  5JxlZaqCnk1MnbgRirs40Q      1.0       0      0     0  Dismal, lukewarm, defrosted-tasting "TexMex" g...  2011-05-27 05:30:52  Cabo Mexican Restaurant  Red Rock Casino Resort & Spa, 11014 W Charlest...   Las Vegas    NV       89135  36.118343 -115.338821      3.5          56.0      0.0  {'RestaurantsAttire': 'u'casual'', 'Restaurant...                               Restaurants, Mexican  {'Monday': '16:0-21:0', 'Tuesday': '16:0-21:0'...
5  L2O_INwlrRuoX05KSjc4eg  5vD2kmE25YBrbayKhykNxQ  nlxHRv1zXGT0c0K51q3jDg      5.0       2      0     0  This is definitely my favorite fast food sub s...  2013-05-07 07:25:25           Firehouse Subs                    510 Marks St, Unit B-1, Ste 110   Henderson    NV       89014  36.059969 -115.036032      3.0          93.0      1.0  {'Ambience': '{'romantic': False, 'intimate': ...          Restaurants, Delis, Sandwiches, Fast Food  {'Monday': '10:30-21:0', 'Tuesday': '10:30-21:...
6  ZayJ1zWyWgY9S_TRLT_y9Q  aq_ZxGHiri48TUXJlpRkCQ  Pthe4qk5xh4n-ef-9bvMSg      5.0       1      0     0  Really good place with simple decor, amazing f...  2015-11-05 23:11:05           Chon Thai Food                     2330 N Alma School Rd, Ste 116    Chandler    AZ       85224  33.339962 -111.859727      4.5         555.0      1.0  {'RestaurantsPriceRange2': '2', 'RestaurantsTa...                                  Restaurants, Thai  {'Monday': '0:0-0:0', 'Tuesday': '17:0-21:0', ...
8  JA-xnyHytKiOIHl_ztnK9Q  P6apihD4ASf1vpPxHODxAQ  e_BiI4ej1CW1F0EyVLr-FQ      5.0       0      0     0  Most delicious authentic Italian I've had in t...  2015-02-16 06:48:47                 Casa Mia                                   11485 N 136th St  Scottsdale    AZ       85259  33.590695 -111.786547      4.5          85.0      1.0  {'RestaurantsGoodForGroups': 'True', 'Restaura...                               Restaurants, Italian  {'Tuesday': '17:0-21:30', 'Wednesday': '17:0-2...

In [86]:
restaurant_reviews_df.to_pickle('./restaurant_reviews_df')
del restaurant_reviews_df

In [4]:
restaurant_reviews_df = pd.read_pickle("./restaurant_reviews_df")
restaurants_df = pd.read_pickle('./restaurants_df')

In [5]:
restaurants_df[restaurants_df['review_count']==0]

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [6]:
restaurant_reviews_df.shape

(1244379, 22)

In [24]:
restaurant_reviews_df.head()

                review_id                 user_id             business_id  stars_x  useful  funny  cool                                               text                 date                     name                                            address        city state postal_code   latitude   longitude  stars_y  review_count  is_open                                         attributes                                         categories                                              hours
2  LG2ZaYiOgpr2DK_90pYjNw  V34qejxNsCbcgD8C0HVk-Q  HQl28KMwrEKHqhFrrDqVNQ      5.0       1      0     0  I love Deagan's. I do. I really do. The atmosp...  2015-12-05 03:18:11   Deagan's Kitchen & Bar                                  14810 Detroit Ave    Lakewood    OH       44107  41.485192  -81.800145      4.0         417.0      1.0  {'BusinessAcceptsCreditCards': 'True', 'Outdoo...  Restaurants, Gastropubs, Nightlife, American (...  {'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22...
3  i6g_oA9Yf9Y31qt0wibXpw  ofKDkJKXSKZXu5xJNGiiBQ  5JxlZaqCnk1MnbgRirs40Q      1.0       0      0     0  Dismal, lukewarm, defrosted-tasting "TexMex" g...  2011-05-27 05:30:52  Cabo Mexican Restaurant  Red Rock Casino Resort & Spa, 11014 W Charlest...   Las Vegas    NV       89135  36.118343 -115.338821      3.5          56.0      0.0  {'RestaurantsAttire': 'u'casual'', 'Restaurant...                               Restaurants, Mexican  {'Monday': '16:0-21:0', 'Tuesday': '16:0-21:0'...
5  L2O_INwlrRuoX05KSjc4eg  5vD2kmE25YBrbayKhykNxQ  nlxHRv1zXGT0c0K51q3jDg      5.0       2      0     0  This is definitely my favorite fast food sub s...  2013-05-07 07:25:25           Firehouse Subs                    510 Marks St, Unit B-1, Ste 110   Henderson    NV       89014  36.059969 -115.036032      3.0          93.0      1.0  {'Ambience': '{'romantic': False, 'intimate': ...          Restaurants, Delis, Sandwiches, Fast Food  {'Monday': '10:30-21:0', 'Tuesday': '10:30-21:...
6  ZayJ1zWyWgY9S_TRLT_y9Q  aq_ZxGHiri48TUXJlpRkCQ  Pthe4qk5xh4n-ef-9bvMSg      5.0       1      0     0  Really good place with simple decor, amazing f...  2015-11-05 23:11:05           Chon Thai Food                     2330 N Alma School Rd, Ste 116    Chandler    AZ       85224  33.339962 -111.859727      4.5         555.0      1.0  {'RestaurantsPriceRange2': '2', 'RestaurantsTa...                                  Restaurants, Thai  {'Monday': '0:0-0:0', 'Tuesday': '17:0-21:0', ...
8  JA-xnyHytKiOIHl_ztnK9Q  P6apihD4ASf1vpPxHODxAQ  e_BiI4ej1CW1F0EyVLr-FQ      5.0       0      0     0  Most delicious authentic Italian I've had in t...  2015-02-16 06:48:47                 Casa Mia                                   11485 N 136th St  Scottsdale    AZ       85259  33.590695 -111.786547      4.5          85.0      1.0  {'RestaurantsGoodForGroups': 'True', 'Restaura...                               Restaurants, Italian  {'Tuesday': '17:0-21:30', 'Wednesday': '17:0-2...

In [37]:
restaurants_df.shape

(19456, 14)

In [27]:
restaurant_reviews_df['date'].max()

'2019-12-13 15:43:16'

In [28]:
toronto_rest = restaurants_df[restaurants_df['city']=='Toronto']

In [29]:
toronto_rest.head()

                business_id                          name             address     city state postal_code   latitude  longitude  stars  review_count  is_open                                         attributes                         categories                                              hours
38   rVBPQdeayMYht4Uv_FOLHg        Gourmet Burger Company  843 Kipling Avenue  Toronto    ON     M8Z 5G9  43.633291 -79.531768    3.0            13        0  {'RestaurantsPriceRange2': '2', 'RestaurantsAt...         Restaurants, Burgers, Food                                               None
277  d9A5lhFHOBvEw-BxSYnWOA     Song Cook's Corean Chilli      681 Bloor St W  Toronto    ON     M6G 1L3  43.663746 -79.416452    4.0             4        0  {'HasTV': 'True', 'WiFi': 'u'no'', 'Restaurant...                Restaurants, Korean                                               None
327  37kk0IW6jL7ZlxZF6k2QBg                        Edulis  169 Niagara Street  Toronto    ON         M5V  43.641948 -79.406580    4.0           115        1  {'RestaurantsGoodForGroups': 'False', 'Restaur...       Restaurants, Spanish, French  {'Wednesday': '18:0-23:0', 'Thursday': '18:0-2...
332  y1Er-SodAde9QZIcgFf45g  Blackod Steak and Fish House       3479 Yonge St  Toronto    ON     M4N 2N3  43.734367 -79.404422    2.0             8        0  {'GoodForKids': 'True', 'OutdoorSeating': 'Fal...  Restaurants, Steakhouses, Seafood  {'Monday': '0:0-0:0', 'Tuesday': '17:0-21:0', ...
354  0rMFhLzeq3Z2OaJ62MQXlw              Spiga Ristorante   1378 Yonge Street  Toronto    ON     M4T 1Y5  43.686247 -79.393561    4.0            14        1  {'BusinessParking': '{'garage': False, 'street...               Restaurants, Italian                                               None

In [30]:
toronto_rest.iloc[0,]['attributes']

{'RestaurantsPriceRange2': '2',
 'RestaurantsAttire': "u'casual'",
 'Alcohol': "u'none'",
 'Caters': 'False',
 'HasTV': 'False',
 'GoodForKids': 'True',
 'RestaurantsGoodForGroups': 'True',
 'RestaurantsTakeOut': 'True',
 'RestaurantsDelivery': 'False',
 'RestaurantsReservations': 'False',
 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 'NoiseLevel': "u'average'",
 'WiFi': "'no'",
 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 'OutdoorSeating': 'False'}

In [9]:
# Taking data into df

checkins = []
with open('yelp_dataset/yelp_academic_dataset_checkin.json', 'rb') as f:
    for i, line in enumerate(f):
        checkins.append(json.loads(line))

checkin_df = pd.DataFrame(checkins)

In [33]:
restaurants_with_checkins_df = restaurants_df.merge(checkin_df,how="left",on="business_id")

In [38]:
restaurants_with_checkins_df.head()

              business_id                             name                           address       city state postal_code   latitude  longitude  stars  review_count  is_open                                         attributes                              categories                                              hours                                               date
0  eBEfgOPG7pvFhb2wcG9I7w                  Philthy Phillys  15480 Bayview Avenue, unit D0110     Aurora    ON     L4G 7J1  44.010962 -79.448677    4.5             4        1  {'RestaurantsTableService': 'False', 'Restaura...  Restaurants, Cheesesteaks, Poutineries  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...                                2019-01-04 01:13:15
1  rVBPQdeayMYht4Uv_FOLHg           Gourmet Burger Company                843 Kipling Avenue    Toronto    ON     M8Z 5G9  43.633291 -79.531768    3.0            13        0  {'RestaurantsPriceRange2': '2', 'RestaurantsAt...              Restaurants, Burgers, Food                                               None  2010-09-29 23:18:27, 2010-10-03 18:26:37, 2010...
2  98hyK2QEUeI8v2y0AghfZA  Pho Lee's Vietnamese Restaurant           1541 E 38th St, Ste 101  Cleveland    OH       44114  41.512155 -81.663332    4.5            23        1  {'BusinessParking': 'None', 'Ambience': '{'tou...           Restaurants, Vietnamese, Soup  {'Monday': '11:0-20:0', 'Wednesday': '11:0-20:...  2019-08-18 21:17:31, 2019-08-31 17:06:17, 2019...
3  LoRef3ChgZKbxUio-sHgQg                             Amir             5252 Rue Jean Talon O   Montréal    QC     H4P 2A7  45.494870 -73.651904    3.0            18        1  {'RestaurantsAttire': 'u'casual'', 'Restaurant...   Restaurants, Lebanese, Middle Eastern                                               None  2013-05-22 16:28:19, 2014-06-10 22:04:37, 2014...
4  tLpkSwdtqqoXwU0JAGnApw                          Wendy's              4602 Northfield Road  Cleveland    OH       44128  41.434614 -81.527026    3.5             7        1  {'RestaurantsDelivery': 'False', 'BusinessAcce...         Restaurants, Fast Food, Burgers  {'Monday': '10:0-3:0', 'Tuesday': '10:0-3:0', ...  2011-08-18 23:18:26, 2011-09-20 16:38:54, 2011...

In [36]:
checkin_df[checkin_df['business_id'] == 'eBEfgOPG7pvFhb2wcG9I7w']

                   business_id                 date
115585  eBEfgOPG7pvFhb2wcG9I7w  2019-01-04 01:13:15

In [40]:
restaurant_reviews_df[restaurant_reviews_df['business_id'] == 'eBEfgOPG7pvFhb2wcG9I7w']

                     review_id                 user_id             business_id  stars_x  useful  funny  cool                                               text                 date             name                           address    city state postal_code   latitude  longitude  stars_y  review_count  is_open                                         attributes                              categories                                              hours
485100  gwU0Brt7bYIgFJeBhrmmmA  coSXdeklwuZWjjS0n38Tcg  eBEfgOPG7pvFhb2wcG9I7w      5.0       0      0     0  The cheese steak is great here. The guys cooki...  2019-01-26 14:59:53  Philthy Phillys  15480 Bayview Avenue, unit D0110  Aurora    ON     L4G 7J1  44.010962 -79.448677      4.5           4.0      1.0  {'RestaurantsTableService': 'False', 'Restaura...  Restaurants, Cheesesteaks, Poutineries  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
654298  wt8t7boUicBVutypSIFBfg  pCYmjT_-KrBvFfiazMlaLQ  eBEfgOPG7pvFhb2wcG9I7w      4.0       0      0     0  I've been here 4 times now and the Philly chee...  2019-11-16 17:02:55  Philthy Phillys  15480 Bayview Avenue, unit D0110  Aurora    ON     L4G 7J1  44.010962 -79.448677      4.5           4.0      1.0  {'RestaurantsTableService': 'False', 'Restaura...  Restaurants, Cheesesteaks, Poutineries  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
719698  tZ5DuKIfUuuhxGYV7ywhvw  8U9jNGWvX1kZR-So3KNPiA  eBEfgOPG7pvFhb2wcG9I7w      5.0       0      0     0  Excellent Excellent customer service!!\nWill d...  2019-10-11 19:59:57  Philthy Phillys  15480 Bayview Avenue, unit D0110  Aurora    ON     L4G 7J1  44.010962 -79.448677      4.5           4.0      1.0  {'RestaurantsTableService': 'False', 'Restaura...  Restaurants, Cheesesteaks, Poutineries  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...
730800  rqa4ZB6yz-68G5GEXuZJyA  xo8HykGB7Ekm_QKrMRg3Zw  eBEfgOPG7pvFhb2wcG9I7w      4.0       0      0     0  Came here on a Friday night and only 1 table w...  2019-07-26 13:24:49  Philthy Phillys  15480 Bayview Avenue, unit D0110  Aurora    ON     L4G 7J1  44.010962 -79.448677      4.5           4.0      1.0  {'RestaurantsTableService': 'False', 'Restaura...  Restaurants, Cheesesteaks, Poutineries  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...